* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  width: 100%;
  border-color: 2px solid black;
}
.main-container {
  margin: auto;
  width: 80%;
  border: 1px solid black;
}

.icon-1 {
  height: 25px;
  width: 25px;
}
.navbar1 {
  width: 100%;
}
.icon {
  font-size: 20px;
}

.navbar2 {
  margin-left: 33%;
}
.btn,
.circle,
.bell,
.flask {
  margin-left: 10px;
}
.btn {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid rgb(249, 246, 246);
}
.upgrade {
  height: 39px;
  margin: 2px;
  padding-top: 3px;
  width: 88px;
  border-radius: 8px;
  background-color: blue;
  color: #fff;
  font-size: 19px;
  border: none;
}
.magifiedglass {
  margin-bottom: -15px;
  margin-top: -20px auto;
}
.btn {
  width: 21%;
  height: 40px;
  border-radius: 5px;
  font-size: 15px;
  padding-top: 0px;
  margin: auto;
  border: 2px solid #eee2e2;
  color: grey;
}
.navbar3,
a {
  width: 100%;
  margin-left: 15px;
  margin: 8px;
  font-size: 17px;
  text-decoration: none;
  color: rgb(84, 83, 83);
}
.under-line {
  color: black;
}
.main-content {
  height: 38.5rem;
  background-color: rgb(238, 128, 84);
}
hr {
  border: 2px solid #fff;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
.form {
  width: 75%;
  margin: auto;
  height: 38.5rem;
  background-color: rgba(232, 89, 18, 0.953);
}
h3 {
  color: white;
  font-size: 21px;
  margin: auto;
  width: 82%;
  margin-top: 5%;
}

.main {
  width: 100%;
  color: white;
  font-size: 18px;
}
.first-label {
  margin-left: 21%;
}
.second-label {
  margin-left: 18%;
}
.fourth-label {
  margin-left: 17.8%;
}
.third-label {
  margin-left: 16.8%;
}
.fifth-label {
  margin-left: 10.5%;
}
.form-btn {
  width: 100%;
  margin-left: 32.5%;
}
.clear-btn {
  width: 20%;
  padding-left: 50px;
  height: 30px;
  margin: auto;
  color: rgba(232, 89, 18, 0.953);
  border-radius: 2px;
}
.create-btn {
  margin-left: auto;
  padding-left: 50px;
  width: 20%;
  height: 30px;
  background: rgb(242, 237, 232);
  color: rgba(232, 89, 18, 0.953);
  border-radius: 2px;
}

input {
  width: 38%;
  height: 25px;
  font-size: 11px;
  background: rgb(242, 237, 232);
  border: none;
  margin-right: 19%;
}

.png-img {
  width: 90%;
  margin: auto;
}

h6 {
  width: 26%;
  margin-top: -47px;
  margin-left: 75%;
}
.png-img {
  margin-left: 20px;
}
h5 {
  color: rgb(42, 42, 229);
  margin-left: 78%;
}
.last-content {
  width: 100%;
  height: 50px;
  background-color: purple;
}

.heading {
  position: relative;
  top: 30%;
  margin-left: 30px;
  margin-top: auto;
  font-size: 20px;
  color: #fff;
}
.icons-class {
  margin-left: 60%;
}
.icons-class,
.last-img {
  position: relative;
  top: -20%;
  float: right;
  margin-right: 15px;
}
.footer-first {
  width: 100%;
  height: 60px;
}
