.main-div {
  width: 50%;
  height: 80vh;
  background-color: rgb(196, 97, 97);
  border-color: 0px solid black;
  margin: 5% auto;
}
.div-1 {
  background-color: rgb(243, 250, 58);
  width: 35%;
  height: 130px;
  margin: 2% auto;
  border: none;
  border-radius: 70px;
  position: relative;
  left: 0%;
  top: 49%;
}
.footer {
  width: 30%;
  height: 15px;
  background-color: rgb(68, 64, 64);
  position: relative;
  top: 54%;
  left: 35%;
  border-radius: 5px;
}
.leg {
  width: 2%;
  height: 38px;
  rotate: 180deg;
  border: none;
  position: relative;
}
.leg-1 {
  top: 43.5%;
  left: 46%;
  background-color: rgb(170, 56, 130);
}
.leg-2 {
  top: 36.2%;
  left: 50%;
  background-color: darkorange;
}
.legbar-1 {
  background-color: rgb(170, 56, 130);
  width: 8%;
  height: 12px;
  position: relative;
  top: 34.3%;
  left: 42.5%;
  border-radius: 5px;
}
.legbar-2 {
  background-color: darkorange;
  width: 8%;
  height: 12px;
  position: relative;
  top: 32%;
  left: 46.5%;
  border-radius: 5px;
}
.wings {
  width: 25%;
  height: 100px;
  border-color: 1px solid black;
  background-color: rgb(207, 207, 70);
  position: relative;
  left: 45.5%;
  top: -4%;
  border-radius: 60px 110% 0% 60px;
  z-index: 10;
}
.wings-1 {
  width: 20%;
  height: 100px;
  background-color: rgb(207, 207, 70);
  position: relative;
  left: 52%;
  bottom: 23%;
  border-radius: 1% 150% 0% 8%;
}
.wings-2 {
  width: 14%;
  height: 100px;
  background-color: darkorange;
  position: relative;
  left: 50%;
  bottom: 52%;
  border-radius: 60%;
}
.head {
  width: 15%;
  height: 120px;
  border-radius: 5px solid black;
  background-color: rgb(196, 97, 97);
  border-radius: 50%;
  position: relative;
  bottom: 81%;
  left: 41%;
}
.head-1 {
  width: 22%;
  height: 150px;
  border-radius: 5px solid black;
  background-color: rgb(243, 250, 58);
  border-radius: 50%;
  position: relative;
  top: -107%;
  left: 33%;
  z-index: 5;
}
.ear-1 {
  width: 6%;
  height: 25px;
  background-color: darkorange;
  position: relative;
  top: -132%;
  left: 51%;
  border-radius: 0% 10% 100% 0%;
}
.ear-2 {
  width: 15%;
  height: 40px;
  background-color: rgb(243, 250, 58);
  position: relative;
  top: -140.5%;
  left: 41%;
  border-radius: 20% 15% 100% 0%;
}
.beak-down {
  width: 50%;
  height: 20px;
  background-color: rgb(170, 56, 130);
  position: relative;
  left: -20%;
  bottom: -55%;
  border-radius: 70px 70% 30px 0%;
}
.beak-up {
  width: 50%;
  height: 30px;
  background-color: darkorange;
  position: relative;
  left: -20%;
  bottom: -27%;
  border-radius: 0% 50px 0% 50px;
}
.beak-hole {
  width: 5%;
  height: 18px;
  background-color: rgb(170, 56, 130);
  rotate: 90deg;
  position: relative;
  top: 7%;
  left: 6%;
  border-radius: 10px;
}
.eye {
  width: 40%;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  left: 40%;
  top: -20%;
}
.eye-1 {
  width: 20%;
  height: 30px;
  background-color: rgb(19, 17, 17);
  border-radius: 50%;
  position: relative;
  left: 50%;
  top: -50%;
}
.eye-2 {
  width: 40%;
  height: 30px;
  background-color: rgb(243, 250, 58);
  position: relative;
  left: 40%;
  top: -47%;
}
.eye-3 {
  width: 5%;
  height: 40px;
  background-color: rgb(207, 207, 70);
  position: relative;
  left: 58%;
  top: -120%;
  rotate: 90deg;
}
