.container {
  width: 100%;
  height: 100px;
}
.section {
  display: flex;
  flex-direction: column;
}
.div-1 {
  width: 80%;
  height: 100px;
  display: flex;
  flex-direction: row;
}
.text {
  width: 50px;
}
