* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-size: 62.5%;
}

/*.container {
  margin: auto;
  width: 100%;
  height: 100vh;
  background-color: black;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  
}*/
.container {
  background-color: aqua;
  margin: auto;
  width: 80%;
  height: 100vh;

  display: grid;
  /* grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px; */

  /*fr = fraction unit*/
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  row-gap: 10px;
  column-gap: 10px;
  /* grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr); */

  /* row-gap: 10px;
    column-gap: 10px; */
}

.child {
  background-color: red;
  font-size: 3rem;
}
.child-1 {
  width: 100%;
  height: 100px;
  grid-column-start: 1;
  grid-row-end: 5;
}
